.select-country {
  max-width: 400px;
  margin-bottom: 20px;
}
.contenedor {
  border: 3px dotted blue;
  position: relative;
  margin: auto;
  width: 100vw;
  height: 80vh;
  min-height: 400px;
}
@media (min-width: 769px) {
  .contenedor {
    width: 80vw;
  }
}
.fatalidad {
  text-align: center;
}
.canvas {
  /* border: 1px dotted red; */
}
