h3{
  margin-right: 15px;
}
.select-country {
  max-width: 400px;
  margin: auto 0px;
}
.contenedor {
  position: relative;
  margin: auto;
  width: 100vw;
  height: 80vh;
  min-height: 400px;
}
@media (min-width: 769px) {
  .contenedor {
    width: 80vw;
  }
}
.fatalidad {
  text-align: center;
}

